<div class="nodes-container">

  <div *ngIf="nodes.length > 0; else noData">
    <table class="nodes-table">
      <thead>
        <tr>
          <th>IP address</th>
          <th>Hote</th>
          <th>Status</th>
          <th>SNMP</th>
          <th>Metrics</th>
          <th>Console</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let node of nodes">
          <td>{{ node.ip }}</td>
          <td>{{ node.hostname }}</td>
          <td>{{ node.status }}</td>
          <td>
             <span [style.color]="node.snmpRunning ? 'green' : 'red'">
              {{ node.snmpRunning ? 'ACTIVE' : 'INACTIVE' }}
            </span>
          </td>
          <td>
            <!-- Existant -->
            <ng-container *ngIf="node.grafanaUrl; else notAvailable">
              <a [href]="node.grafanaUrl" target="_blank">
                <button>Grafana</button>
              </a>
            </ng-container>
            <ng-template #notAvailable>
              <span style="color: red;">Unavailable</span>
            </ng-template>
          </td>
          <td>
             <button
              [disabled]="node.status === 'DOWN'"
              [ngClass]="{ 'ssh-button': true, 'disabled-button': node.status === 'DOWN' }"
              (click)="openConsole(node)"
            >
              SSH
          </button>
          </td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noData>
    <p>Aucun nœud détecté</p>
  </ng-template>
</div>