<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <img src="assets/images/logo.jpg" alt="Logo" class="brand-logo">
      <span class="brand-text">Network Monitor</span>
    </div>
    
    <ul class="navbar-menu">
      <li *ngFor="let item of menuItems" 
          class="navbar-item"
          [class.active]="activeTab === item.id"
          (click)="setActiveTab(item.id)">
        <span class="material-icons navbar-icon">{{ item.icon }}</span>
        <span class="navbar-label">{{ item.label }}</span>
      </li>
    </ul>

    <div class="navbar-user">
      <div class="user-info">
        <span class="material-icons user-icon">account_circle</span>
        <span class="user-name">Admin</span>
      </div>
    </div>
  </div>
</nav>